@import "./variables";

// animations
@mixin translateXRightOpacityIn {
    @keyframes translateXRightOpacityIn {
        0% {
            transform: translateX(10rem);
            opacity: 0;
        }

        100% {
            transform: translateX(0rem);
            opacity: 1;
        }
    }
}

@mixin translateXRightOpacityOut {
    @keyframes translateXRightOpacityOut {
        0% {
            transform: translateX(0rem);
            opacity: 1;
        }

        100% {
            transform: translateX(10rem);
            opacity: 0;
        }
    }
}

@mixin translateYTopOpacityIn {
    @keyframes translateYTopOpacityIn {
        0% {
            transform: translateY(10rem);
            opacity: 0;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            transform: translateY(0rem);
            opacity: 1;
        }
    }
}

@mixin translateYTopOpacityOut {
    @keyframes translateYTopOpacityOut {
        0% {
            transform: translateY(0rem);
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            transform: translateY(10rem);
            opacity: 0;
        }
    }
}

@mixin slideInFromTop {
    @keyframes slideInFromTop {
        from {
            transform: translateY(-2rem);
            opacity: 0;
        }

        to {
            transform: translateY(0rem);
            opacity: 1;
        }
    }
}

@mixin reduceHeightIn {
    @keyframes reduceHeightIn {
        from {
            transform: translateY(0rem);
            opacity: 1;
        }

        to {
            transform: translateY(-2rem);
            opacity: 0;
        }
    }
}

@mixin reduceHeightOut {
    @keyframes reduceHeightOut {
        from {
            transform: translateY(-2rem);
            opacity: 0;
        }

        to {
            transform: translateY(0rem);
            opacity: 1;
        }
    }
}

@mixin slideOutToTop {
    @keyframes slideOutToTop {
        from {
            transform: translateY(0rem);
            opacity: 1;
        }

        to {
            transform: translateY(-2rem);
            opacity: 0;
        }
    }
}

@mixin fadeIn {
    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

@mixin fadeOut {
    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
}

@mixin filterBlurIn {
    @keyframes filterBlurIn {
        from {
            background-color: rgb(0 0 0 / 16%);
            backdrop-filter: blur(0px);
            -webkit-backdrop-filter: blur(0px);
        }

        to {
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
        }
    }
}

@mixin filterBlurOut {
    @keyframes filterBlurOut {
        from {
            background-color: rgb(0 0 0 / 16%);
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
        }

        to {
            backdrop-filter: blur(0px);
            -webkit-backdrop-filter: blur(0px);
        }
    }
}

// styles
@mixin boxShadow {
    -webkit-box-shadow: 0px -29px 38px 28px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px -29px 38px 28px rgba(0, 0, 0, 0.48);
    box-shadow: 0px -29px 38px 28px rgba(0, 0, 0, 0.48);
}

@mixin boxShadow2 {
    -webkit-box-shadow: -1px 10px 16px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px 10px 16px -3px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 10px 16px -3px rgba(0, 0, 0, 0.5);
}

@mixin flexJustifyCenterAlignWrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
