// breakpoints
$xxs: "0em";
$xs: "20em";
$sm: "30em";
$md: "48em";
$lg: "62em";
$xl: "80em";
$xxl: "96em";

// colors
$green: rgb(19, 143, 19);
$gray: gray;
$red: red;
$lightgray: #b7b7b7;
$yellow: #ffd523;
$lightgrayTransparent: rgba(101, 101, 101, 0.672);
$bluishGray: #595260;
$darkGray: rgba(52, 52, 52, 0.813);
$darkBlue: #2c2e43;
$transparent: transparent;
$white: #fff;
$whiteTransparent: rgba(255, 255, 255, 0.599);
$greenTransparent: rgba(113, 255, 57, 0.673);
$black: #000000;
