// breakpoints
$xxs: "0em";
$xs: "20em";
$sm: "30em";
$md: "48em";
$lg: "62em";
$xl: "80em";
$xxl: "96em";

// colors
$gray: gray;
$red: red;
$lightgray: #b2b1b9;
$yellow: #ffd523;
$lightgrayTransparent: rgba(101, 101, 101, 0.672);
$bluishGray: #595260;
$darkGray: rgba(52, 52, 52, 0.813);
$darkBlue: #2c2e43;
$transparent: transparent;
$white: #fff;
