// breakpoints
$xxs: "0em";
$xs: "20em";
$sm: "30em";
$md: "48em";
$lg: "62em";
$xl: "80em";
$xxl: "96em";

// colors
$gray: gray;
$red: red;
$lightgray: lightgray;
$lightgrayTransparent: rgba(101, 101, 101, 0.672);
$darkGray: rgba(52, 52, 52, 0.813);
$transparent: transparent;
$white: #fff;