@import "../sass-utils/index";

.main {
    background-color: $lightgray;
    height: 200vh;
    padding: 8em 4em;
    width: 100vw;
}

@media (max-width: $xl) {
    .main {
        margin: 0;
        padding: 6em 0;
    }
}
