@import "../sass-utils/index";

.button {
    background-color: $transparent;
    border: 1px solid $black;
    border-radius: 10px;
    cursor: pointer;
    color: $black;
    padding: 0.6em 1.5em;
    transition: 0.1s all ease-in-out;

    &:hover {
        color: $white;
        background-color: $darkGray;
    }

    &:disabled {
        color: $lightgrayTransparent;
        border-color: $gray;
        background-color: $lightgrayTransparent !important;
    }
}

.paginatorBtn {
    width: initial !important;
}

.favouriteBtn {
    align-items: center;
    background-color: $whiteTransparent;
    border-radius: 50px;
    border-color: $white;
    display: flex;
    justify-content: center;
    height: auto;
    padding: 0.6em 0.8em;
    transition: 0.1s ease-in-out;
    width: 45px !important;

    img {
        height: auto;
        width: 15px;
    }

    &:hover {
        @include boxShadowInset($white);
        background-color: rgba(255, 217, 0, 0.501);
    }
}

.saved {
    @include boxShadowInset($green);
    align-items: center;
    background-color: $greenTransparent;
    border-color: $green;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding: 0.6em 0.8em;
    transition: 0.1s ease-in-out;
    width: 45px !important;

    img {
        height: auto;
        width: 15px;
    }
}

@media (max-width: $lg) {
    .button {
        max-width: 30%;
        width: 60%;
    }

    .favouriteBtn,
    .saved {
        margin-left: -6em;
    }
}
