@import "../sass-utils/index";

.inputContainer {
    @include flexJustifyCenterAlignWrap;
    position: relative;
    width: 15%;

    .label {
        font-size: 0.9rem;
        font-weight: 800;
        width: 100%;
    }

    .input {
        background-color: $transparent;
        border: none;
        border-bottom: 1px solid $black;
        cursor: pointer;
        font-size: 1rem;
        text-align: center;
        padding: 0.2em 0.5em;
        width: 100%;

        &:disabled {
            background-color: $lightgray;
            border-bottom: 1px solid $lightgrayTransparent;
            cursor: not-allowed;
        }
    }

    .helperText {
        bottom: -2em;
        color: $darkGray;
        font-size: 0.8rem;
        position: absolute;
        width: 100%;
    }

    .select {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
        cursor: pointer;
        font-size: 1rem;
        text-align: center;
        padding: 0.2em 0.5em;
        width: 100%;
    }

    .errorMsg {
        bottom: -2em;
        color: $red;
        font-size: 0.8rem;
        position: absolute;
        text-align: center;
        width: 100%;
    }
}

.favouritesSelect {
    @include flexJustifyCenterAlignWrap;
    position: absolute;
    right: 15%;
    top: 15.5em;
    width: 200px;
}

@media (max-width: $xxl) {
    .inputContainer {
        .helperText {
            bottom: -3.3em;
        }
    }
}

@media (max-width: $xxl) {
    .inputContainer {
        width: 13%;

        .input::placeholder {
            font-size: 0.9rem;
        }
    }

    .favouritesSelect {
        right: 13%;
    }
}

@media (max-width: $lg) {
    .inputContainer {
        width: 70%;

        .input::placeholder {
            font-size: 1rem;
        }

        .helperText {
            bottom: -2em;
        }
    }

    .favouritesSelect {
        position: initial;
    }
}
